<h1>New Customer Form</h1>
<%= render partial: "shared/error", locals: {new_object: @customer} %>

<%= form_for @customer do |f| %>
    <%= f.label :name %> <br><br>
    <%= f.text_field :name %> <br><br>

    <%= f.submit %>
<% end %>

