<h1><%= @customer.name %></h1>

<h2> Customer Orders </h2>
<% @customer.orders.each do |order| %>
    <div> <%= link_to "Purchase Order Number: #{order.id}", order_path(order) %> </div>
<% end %>
<br>

<div> <%= link_to("Customer Index Page", customers_path) %></div>
<div> <%= link_to("Edit this Customer", edit_customer_path(@customer))%></div>
<div><%= link_to "Delete Customer", customer_path(@customer), method: :delete, data: { confirm: 'Are you sure?' }%></div>
