<h1>Order Details</h1>
<h2>Order Number:<%= @order.id%></h2>
<h3>Sales Person: <%= link_to(@order.sales_person.name, sales_person_path(@order.sales_person)) %></h3>
<div>Typer of Paper <%= @order.paper_type %></div>
<div>Number of Reams: <%= @order.number_of_reams %></div>
<div>Price Per Ream: $<%= @order.price_per_ream %></div>
<div>Total Cost: $<%= @order.number_of_reams*@order.price_per_ream %> </div>